/* Hide any enhanced experience content when in core mode, and vice versa. */
.core .o--if-js,
.enhanced .o--if-no-js { display: none !important; }

html,
body {
	font-family: BentonSans, sans-serif;
	font-weight: 100;
	margin: 0;
}
.o-techdocs {
	.o-header {
		margin-bottom: 1em;
		.o-header__secondary {
			padding: 2px 0px;
			nav {
				float: left;
			}
		}
	}
}
.feature-search {
	position: relative;
	display: inline-block;
	float: right;
}
.feature-search__features {
	position: absolute;
	right: 0;
	background: white;
}
.feature-search__features a {
	display: none;
	&,
	&:hover {
		color: blue;
	}
}
