/* Hide any enhanced experience content when in core mode, and vice versa. */
.core .o--if-js,
.enhanced .o--if-no-js { display: none !important; }

@import 'o-expander/main';

html,
body {
	font-family: BentonSans, sans-serif;
	font-weight: 100;
	margin: 0;
}
.o-techdocs {
	.o-header {
		z-index: 2;
		position: fixed;
		margin-bottom: 1em;
		top: 0;
		width: 100%;
		.o-header__secondary {
			padding: 2px 0px;
			nav {
				float: left;
			}
		}
	}
	.o-techdocs-container {
		margin-top: 100px;
	}
}

h1 {
	text-transform: capitalize;
}

.o-forms-suffix--small {
	font-size: 14px;
	padding-top: 0;
	padding-bottom: 0;
	background-size: 16px;
	height: 24px;
	line-height: 22px;
	button {
		padding: 5px 5px 8px;
	}
}
.error {
	color: red;
	font-size: 22px;
	strong {
		font-weight: bold;
	}
}
.feature-search {
	margin-top: 1px;
	margin-bottom: 0;
}

@import 'components/chart-ui';
