/* Hide any enhanced experience content when in core mode, and vice versa. */
.o--if-no-js { display: none !important; }

@import 'o-expander/main';

html,
body {
	font-family: BentonSans, sans-serif;
	font-weight: 100;
	margin: 0;
}
.beacon-container {
	max-width: 100%;
}
.o-techdocs {
	.o-header {
		z-index: 100;
		position: fixed;
		margin-bottom: 16px;
		top: 0;
		width: 100%;
		.o-header__primary {
			height: 45px;
			padding-top: 5px;
			.o-header__primary__left {
				padding-left: 0px;
			}
			.o-header__primary__right {
				text-align: right;
				padding-top: 10px;
			}
		}
		.o-header__secondary {
			padding: 2px 0px;
			nav {
				float: left;
			}
			.o-hierarchical-nav {
				width: 100%;
				.internal-tool-links {
					float: right;
				}
			}
		}
	}
	.o-techdocs-container {
		margin-top: 80px;
	}
}

.o-forms-suffix--small {
	font-size: 14px;
	padding-top: 0;
	padding-bottom: 0;
	background-size: 16px;
	height: 24px;
	line-height: 22px;
	button {
		padding: 5px 5px 8px;
	}
}
.error {
	color: red;
	font-size: 22px;
	strong {
		font-weight: bold;
	}
}

.feature-search {
	margin-top: 1px;
	margin-bottom: 0;
}

.o-ft-icons-icon {
	text-decoration: none;
	margin: 0 1.4px 0 4.2px;
}

.o-header__nav--secondary-theme {
	[data-o-grid-colspan] {
		padding-left: 0px;
	}
}

.o-big-number__title {
	font-size: 200px;
}

@import 'components/chart-ui';
