<nav class="chart__configurator o-forms-text--small" data-o-grid-colspan="{{#if @root.isStandaloneChart}}7{{else}}12{{/if}}">

	<form action="" method="get" style="display: inline" class="chart__configurator__form o-forms">
		<fieldset>
			<label class="o-forms-label">Timeframe: </label>
			<select name="timeframe" class="timeframe o-forms-select o-forms-select--small">
				<option
					{{#ifEquals @root.timeframe 'previous_1_days'}}selected{{/ifEquals}}
					value="previous_1_days">Yesterday
				</option>
				<option
					{{#ifEquals @root.timeframe 'this_1_days'}}selected{{/ifEquals}}
					value="this_1_days">Today
				</option>
				<option
					{{#ifEquals @root.timeframe 'this_2_days'}}selected{{/ifEquals}}
					value="this_2_days">The last 2 days
				</option>
				<option
					{{#ifEquals @root.timeframe 'this_7_days'}}selected{{/ifEquals}}
					value="this_7_days">The last 7 days
				</option>
				<option
					{{#ifEquals @root.timeframe 'this_14_days'}}selected{{/ifEquals}}
					value="this_14_days">The last 14 days
				</option>
				<option
					{{#ifEquals @root.timeframe 'this_30_days'}}selected{{/ifEquals}}
					value="this_30_days">The last 30 days
				</option>
				<option
					{{#ifEquals @root.timeframe 'this_60_days'}}selected{{/ifEquals}}
					value="this_60_days">The last 60 days
				</option>
				<option
					{{#ifEquals @root.timeframe 'this_90_days'}}selected{{/ifEquals}}
					value="this_90_days">The last 90 days
				</option>
				<option
					{{#ifEquals @root.timeframe 'this_3_months'}}selected{{/ifEquals}}
					value="this_3_months">The last 3 months
				</option>
				<option
					{{#ifEquals @root.timeframe 'this_6_months'}}selected{{/ifEquals}}
					value="this_6_months">The last 6 months
				</option>
				<option
					{{#ifEquals @root.timeframe 'this_12_months'}}selected{{/ifEquals}}
					value="this_12_months">The last 12 months
				</option>
			</select>

			<span class="chart__configurator__absolute-time">
				<span class="absolute-time__block">
					(Or:
					<label>from</label> <input class="o-forms-text o-forms-text--small chart__configurator__start" name="timeframe[start]" type="date" value="{{@root.timeframe.start}}">
				</span>
				<span class="absolute-time__block">
					<label>to</label> <input class="o-forms-text o-forms-text--small chart__configurator__end" name="timeframe[end]" type="date" value="{{@root.timeframe.end}}">)
				</span>
			</span>
		</fieldset>
		<fieldset>
			{{#if hasConfigurableInterval}}
			<label class="o-forms-label">Time interval:</label>
			<select name="interval" class="chart__configurator__interval o-forms-select o-forms-select--small">
				<option value="">No interval</option>
				<option value="minute" {{#ifEquals @root.interval 'minute'}}selected{{/ifEquals}}>Minute</option>
				<option value="hour" {{#ifEquals @root.interval 'hour'}}selected{{/ifEquals}}>Hour</option>
				<option value="day" {{#ifEquals @root.interval 'day'}}selected{{/ifEquals}}>Day</option>
				<option value="week" {{#ifEquals @root.interval 'week'}}selected{{/ifEquals}}>Week</option>
				<option value="month" {{#ifEquals @root.interval 'month'}}selected{{/ifEquals}}>Month</option>
			</select>
			{{else}}
			<small>Interval configuration disabled for this chart. Click 'View in query wizard' for full control</small>
			{{/if}}
		</fieldset>
	</fieldset>
	<fieldset class="chart__configurator__group">
			<label class="o-forms-label">Group by:</label>
 			<input class="o-forms-radio o-forms-radio--small" type="radio" name="group" id="group_null_{{index}}" value=""><label for="group_null_{{index}}" class="o-forms-label">ungroup</label>
			<input class="o-forms-radio o-forms-radio--small" type="radio" name="group" id="group_device.oGridLayout_{{index}}" value="device.oGridLayout"><label for="group_device.oGridLayout_{{index}}" class="o-forms-label">screen size</label>
			<input class="o-forms-radio o-forms-radio--small" type="radio" name="group" id="group_device.primaryHardwareType_{{index}}" value="device.primaryHardwareType"><label for="group_device.primaryHardwareType_{{index}}" class="o-forms-label">device type</label>
			<input class="o-forms-radio o-forms-radio--small" type="radio" name="group" id="group_page.location.type_{{index}}" value="page.location.type"><label for="group_page.location.type_{{index}}" class="o-forms-label">page type</label>
			<input class="o-forms-radio o-forms-radio--small" type="radio" name="group" id="group_user.subscription_{{index}}" value="user.subscription"><label for="group_user.subscription_{{index}}" class="o-forms-label">subs</label>
			<input class="o-forms-radio o-forms-radio--small" type="radio" name="group" id="group_rfv.cohort_{{index}}" value="rfv.cohort"><label for="group_rfv.cohort_{{index}}" class="o-forms-label">rfv</label>
	</fieldset>
	<fieldset class="chart__configurator__filters">
			<label class="o-forms-label">Filter:</label>
			<select class="o-forms-select o-forms-select--small chart__configurator__filter" name="device.oGridLayout">
				<option value="">Screen size</option>
				<option value="default">default</option>
				<option value="S">S</option>
				<option value="M">M</option>
				<option value="L">L</option>
				<option value="XL">XL</option>
			</select>
			<select class="o-forms-select o-forms-select--small chart__configurator__filter" name="device.primaryHardwareType">
				<option value="">Device type</option>
				<option value="Desktop">Desktop</option>
				<option value="Mobile Phone">Phone</option>
				<option value="Tablet">Tablet</option>
			</select>
			<select class="o-forms-select o-forms-select--small chart__configurator__filter" name="page.location.type">
				<option value="">Page</option>
				<option value="article">article</option>
				<option value="frontpage">frontpage</option>
				<option value="my">my</option>
				<option value="search">search</option>
				<option value="stream">stream</option>
				<option value="curated">curated</option>
			</select>
			<select class="o-forms-select o-forms-select--small chart__configurator__filter" name="user.subscription">
				<option value="">Subs</option>
				<option value="subscriber">subscriber</option>
				<option value="anon">anon</option>
			</select>
			<select class="o-forms-select o-forms-select--small chart__configurator__filter" name="rfv.cohort">
				<option value="">RFV</option>
				<option value="super-fan">super fan</option>
				<option value="fan">fan</option>
				<option value="engaged-frequent-free">engaged frequent free</option>
				<option value="borderline-engaged">borderline engaged</option>
				<option value="half-engaged">half engaged</option>
				<option value="occasional-skimmer">occasional skimmer</option>
				<option value="disengaged-long-tail">disengaged long tail</option>
			</select>
		</fieldset>
		<fieldset>
			<label class="o-forms-label">View: </label>
			<input class="o-forms-radio o-forms-radio--small" id="printer_default_{{index}}" type="radio" name="printer" value="" {{#unless @root.printer}}checked{{/unless}}><label for="printer_default_{{index}}" class="o-forms-label">Graph</label>
			<input class="o-forms-radio o-forms-radio--small" id="printer_table_{{index}}" type="radio" name="printer" value="Table" {{#ifEquals @root.printer 'Table'}}checked{{/ifEquals}}><label for="printer_table_{{index}}" class="o-forms-label">Data table</label>
		</fieldset>
		<fieldset id="chart__configurator__range" class="hidden">
			<label class="o-forms-label">Limit: </label>
			{{>range}}
		</fieldset>
	</form>
</nav>
