<nav class="chart__configurator">
	<form action="" method="get" style="display: inline" class="chart__configurator__form o-forms">
	<legend class="o-forms-label">Timeframe:</legend>
		<fieldset class="o-forms-group">
			<input class="o-forms-radio o-forms-radio--small" id="this_48_hours_{{index}}" name="timeframe" type="radio" value="this_48_hours" {{#ifEquals @root.timeframe 'this_48_hours'}}checked{{/ifEquals}}><label class="o-forms-label" for="this_48_hours_{{index}}">2 days</label>
			<input class="o-forms-radio o-forms-radio--small" id="this_7_days_{{index}}" name="timeframe" type="radio" value="this_7_days" {{#ifEquals @root.timeframe 'this_7_days'}}checked{{/ifEquals}}><label class="o-forms-label" for="this_7_days_{{index}}">7 days</label>
			<input class="o-forms-radio o-forms-radio--small" id="this_14_days_{{index}}" name="timeframe" type="radio" value="this_14_days" {{#ifEquals @root.timeframe 'this_14_days'}}checked{{/ifEquals}}><label class="o-forms-label" for="this_14_days_{{index}}">14 days</label>
			<input class="o-forms-radio o-forms-radio--small" id="this_30_days_{{index}}" name="timeframe" type="radio" value="this_30_days" {{#ifEquals @root.timeframe 'this_30_days'}}checked{{/ifEquals}}><label class="o-forms-label" for="this_30_days_{{index}}">30 days</label>
			<fieldset>
				Custom date:
				<label>start</label> <input class="chart__configurator__start" name="timeframe[start]" type="date" value="{{@root.timeframe.start}}"> |
				<label>end</label> <input class="chart__configurator__end" name="timeframe[end]" type="date" value="{{@root.timeframe.end}}">
			</fieldset>
		{{#if hasConfigurableInterval}}
			<select name="interval" class="chart__configurator__interval o-forms-select o-forms-select--small">
				<option value=""> -- choose interval -- </option>
				<option value="minute" {{#ifEquals @root.interval 'minute'}}selected{{/ifEquals}}>minute</option>
				<option value="hour" {{#ifEquals @root.interval 'hour'}}selected{{/ifEquals}}>hour</option>
				<option value="day" {{#ifEquals @root.interval 'day'}}selected{{/ifEquals}}>day</option>
				<option value="week" {{#ifEquals @root.interval 'week'}}selected{{/ifEquals}}>week</option>
				<option value="month" {{#ifEquals @root.interval 'month'}}selected{{/ifEquals}}>month</option>
			</select>
		{{/if}}
	</fieldset>
	<fieldset class="o-forms-group">
		<input class="o-forms-radio o-forms-radio--small" id="printer_default_{{index}}" type="radio" name="printer" value="" {{#unless @root.printer}}checked{{/unless}}><label for="printer_default_{{index}}" class="o-forms-label">View graph</label>
		<input class="o-forms-radio o-forms-radio--small" id="printer_table_{{index}}" type="radio" name="printer" value="Table" {{#ifEquals @root.printer 'Table'}}checked{{/ifEquals}}><label for="printer_table_{{index}}" class="o-forms-label">View data</label>
	</fieldset>
	<fieldset class="chart__configurator__group o-forms-group">
			<legend class="o-forms-label">Group by:</legend>
			<input class="o-forms-radio o-forms-radio--small" type="radio" name="group" id="group_null_{{index}}" value=""><label for="group_null_{{index}}" class="o-forms-label">ungroup</label>
			<input class="o-forms-radio o-forms-radio--small" type="radio" name="group" id="group_device.oGridLayout_{{index}}" value="device.oGridLayout"><label for="group_device.oGridLayout_{{index}}" class="o-forms-label">screen size</label>
			<input class="o-forms-radio o-forms-radio--small" type="radio" name="group" id="group_device.primaryHardwareType_{{index}}" value="device.primaryHardwareType"><label for="group_device.primaryHardwareType_{{index}}" class="o-forms-label">device type</label>
			<input class="o-forms-radio o-forms-radio--small" type="radio" name="group" id="group_page.location.type_{{index}}" value="page.location.type"><label for="group_page.location.type_{{index}}" class="o-forms-label">page type</label>
			<input class="o-forms-radio o-forms-radio--small" type="radio" name="group" id="group_user.subscription_{{index}}" value="user.subscription"><label for="group_user.subscription_{{index}}" class="o-forms-label">subs</label>
			<input class="o-forms-radio o-forms-radio--small" type="radio" name="group" id="group_rfv.cohort_{{index}}" value="rfv.cohort"><label for="group_rfv.cohort_{{index}}" class="o-forms-label">rfv</label>
	</fieldset>
	<fieldset class="chart__configurator__filters">
			<legend class="o-forms-label">Filter:</legend>
			<select class="o-forms-select o-forms-select--small chart__configurator__filter" name="device.oGridLayout">
				<option value=""> -- screen size -- </option>
				<option value="default">default</option>
				<option value="S">S</option>
				<option value="M">M</option>
				<option value="L">L</option>
				<option value="XL">XL</option>
			</select>
			<select class="o-forms-select o-forms-select--small chart__configurator__filter" name="device.primaryHardwareType">
				<option value=""> -- device type -- </option>
				<option value="Desktop">Desktop</option>
				<option value="Mobile Phone">Phone</option>
				<option value="Tablet">Tablet</option>
			</select>
			<select class="o-forms-select o-forms-select--small chart__configurator__filter" name="page.location.type">
				<option value=""> -- page -- </option>
				<option value="article">article</option>
				<option value="frontpage">frontpage</option>
				<option value="my">my</option>
				<option value="search">search</option>
				<option value="stream">stream</option>
				<option value="curated">curated</option>
			</select>
			<select class="o-forms-select o-forms-select--small chart__configurator__filter" name="user.subscription">
				<option value=""> -- subs -- </option>
				<option value="subscriber">subscriber</option>
				<option value="anon">anon</option>
			</select>
			<select class="o-forms-select o-forms-select--small chart__configurator__filter" name="rfv.cohort">
				<option value=""> -- rfv -- </option>
				<option value="super-fan">super fan</option>
				<option value="fan">fan</option>
				<option value="engaged-frequent-free">engaged frequent free</option>
				<option value="borderline-engaged">borderline engaged</option>
				<option value="half-engaged">half engaged</option>
				<option value="occasional-skimmer">occasional skimmer</option>
				<option value="disengaged-long-tail">disengaged long tail</option>
			</select>
	</fieldset>
	</form>
</nav>
