<nav class="o-hierarchical-nav o-header__nav--secondary-theme" data-o-component="o-hierarchical-nav">
	<ul data-o-hierarchical-nav-level="1">
		<li class="o-hierarchical-nav__parent"><a class="o-buttons">Default timeframe <i></i></a>
			<ul data-o-hierarchical-nav-level="2">
				<li><a class="o-buttons" href="?timeframe=previous_1_days&amp;interval=hour">Yesterday (hourly)</a></li>
				<li><a class="o-buttons" href="?timeframe=this_1_days&amp;interval=hour">Today (hourly)</a></li>
				<li><a class="o-buttons" href="?timeframe=this_2_days&amp;interval=hour">The last 2 days (hourly)</a></li>
				<li><a class="o-buttons" href="?timeframe=this_7_days&amp;interval=day">The last 7 days (daily)</a></li>
				<li><a class="o-buttons" href="?timeframe=this_14_days&amp;interval=day">The last 14 days (daily)</a></li>
				<li><a class="o-buttons" href="?timeframe=this_30_days&amp;interval=day">The last 30 days (daily)</a></li>
				<li><a class="o-buttons" href="?timeframe=this_60_days&amp;interval=week">The last 60 days (weekly)</a></li>
				<li><a class="o-buttons" href="?timeframe=this_90_days&amp;interval=week">The last 90 days (weekly)</a></li>
				<li><a class="o-buttons" href="?timeframe=this_3_months&amp;interval=week">The last 3 months (weekly)</a></li>
				<li><a class="o-buttons" href="?timeframe=this_6_months&amp;interval=month">The last 6 months (monthly)</a></li>
				<li><a class="o-buttons" href="?timeframe=this_12_months&amp;interval=month">The last 12 months (monthly)</a></li>
			</ul>
		</li>
	</ul>
</nav>
