<header data-o-component="o-header" class="o-header">
	<div class="o-header__container beacon-container">
		<div class="o-header__inner">
			<div class="o-header__primary">
				<a class="o-header__logo o-header__logo--ft" href="/">
					<abbr title="Financial Times">FT</abbr>
					<h1 class="o-header__title" title="Real-time user data"><span class="o-header__sitename">Beacon.ft.com /</span> {{{title}}}</h1>
				</a>
			</div>
			<div class="o-header__secondary">
				{{> primary-navigation}}
			</div>
		</div>
	</div>
	{{#if charts}}{{> global-configurator}}{{/if}}
</header>
