<nav class="o-hierarchical-nav o-header__nav--secondary-theme" data-o-component="o-hierarchical-nav">
	<ul data-o-hierarchical-nav-level="1">
		<li data-priority="60" class="internal-tool"><a href="/data/query-wizard">Query wizard</a></li>
		<li data-priority="70" class="internal-tool"><a href="/data/explorer">Data explorer</a></li>
		<li data-priority="1" class="o-hierarchical-nav__parent"><a>☰</a>
			<ul data-o-hierarchical-nav-level="2">
				<li><a title="Extract" href="/data/extract"> Extract data </a></li>
				<li class="o-hierarchical-nav__parent"><a>Custom dashboards <i></i></a>
					<ul data-o-hierarchical-nav-level="3">
						{{#each customDashboards}}{{#if dashboardfeature}}
						<li><a href="/dashboard/{{dashboardfeature}}">{{dashboardfeature}}</a></li>
						{{/if}}{{/each}}
					</ul>
				</li>
				<li><a target="_blank" class="external" title="Glossary" href="https://www.lucidchart.com/documents/edit/5c47f2dd-2e96-4825-a9c1-65c74f42b62d#"> <i class="o-ft-icons-icon o-ft-icons-icon--sign-out"></i> FT visitor types</a></li>
				<li><a target="_blank" class="external" title="Raw data" href="https://keen.io/project/{{KEEN_PROJECT_ID}}/explorer"><i class="o-ft-icons-icon o-ft-icons-icon--sign-out"></i> Keen IO</a></li>
				<li><a target="_blank" class="external" title="Slack channel" href="https://financialtimes.slack.com/messages/next-beacon-helpline/"><i class="o-ft-icons-icon o-ft-icons-icon--sign-out"></i> Slack: #next-beacon-helpline</a></li>
				<li><a target="_blank" class="external" title="Developers' guide" href="https://financial-times.github.io/next/docs/developer-guide/measuring-next/"><i class="o-ft-icons-icon o-ft-icons-icon--sign-out"></i> Measuring next ft</a></li>
				<li><a target="_blank" class="external" title="Configure charts" href="https://docs.google.com/spreadsheets/d/1jH15yE5T6omD-B58UJfu1y4j8qN4QIs17u-52_Jkw7M"><i class="o-ft-icons-icon o-ft-icons-icon--sign-out"></i> The spreadsheet of destiny</a></li>
				<li><a target="_blank" class="external" title="Current AB tests" href="https://ft-next-ammit.herokuapp.com/articles/currently-allocated-tests/"><i class="o-ft-icons-icon o-ft-icons-icon--sign-out"></i> Currently allocated AB tests</a></li>
				<li><a target="_blank" class="external" title="Keen-query documentation" href="https://github.com/Financial-Times/keen-query/blob/master/README.md"><i class="o-ft-icons-icon o-ft-icons-icon--sign-out"></i> Keen-query documentation</a></li>
			</ul>
		</li>
		{{#each primaryDashboards}}{{#if title}}
		<li data-priority="2{{@index}}"><a href="/dashboard/{{id}}/">{{{title}}}</a></li>
		{{/if}}{{/each}}
		<li data-priority="30" class="o-hierarchical-nav__parent"><a><span style="font-style: italic">my</span>FT <i></i></a>
			<ul data-o-hierarchical-nav-level="2">
				<li><a href="/dashboard/myft/onsite?timeframe=this_7_days">Onsite</a></li>
				<li><a href="/dashboard/myft/offsite?timeframe=previous_7_days">Offsite</a></li>
				<li><a href="/dashboard/myft/homepage-and-article-promos?timeframe=this_7_days">Homepage and Article page promos</a></li>
			</ul>
		</li>
		<li data-priority="40"><a href="/user">User</a></li>
		<li data-more="" class="o-hierarchical-nav__parent" aria-hidden="true"><a><span class="o-hierarchical-nav__more--if-some">More</span><span class="o-hierarchical-nav__more--if-all">Menu</span> <i></i></a></li>
	</ul>
</nav>
