<nav class="timeframe-switcher">
	Timeframe:
	<a href="?timeframe=this_14_days" data-timeframe="this_14_days">14 days</a> |
	<a href="?timeframe=this_30_days" data-timeframe="this_30_days">30 days</a> |
	<a href="?timeframe=this_60_days" data-timeframe="this_60_days">60 days</a> |
	<a href="?timeframe=this_90_days" data-timeframe="this_90_days">90 days</a> |
	<form action="" method="get" style="display: inline" class="timeframe-switcher__custom">
		Custom time:
		<label>start</label> <input class="timeframe-switcher__start" name="timeframe[start]" type="date" value="{{@root.timeframe.start}}"> |
		<label>end</label> <input class="timeframe-switcher__end" name="timeframe[end]" type="date" value="{{@root.timeframe.end}}"> <button class="timeframe__submit">submit</button>
	</form>
</nav>
