/node_modules/
/.haikro-cache/
/node-*
/bower_components/
/.DS_Store/
/.sass-cache/
/public/main.js
/public/main.css
/public/worker.js
/public/main.js.map
/public/main.css.map
/public/worker.js.map
/public/__about.json
*.env*
.idea
/old-beacon-dashboard/
.eslintrc.js
.editorconfig
