<!DOCTYPE html>
<html class="o-hoverable-on" data-next-app="{{__name}}"{{#if __isProduction}} data-next-is-production{{/if}}>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<!-- Temporary hack to cope with slight bugginess of nav width on ios-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=no">
		<title>Beacon - next.ft.com performance dashboard</title>
		{{#if isPresentation}}
		<link rel="stylesheet" href="//build.origami.ft.com/v2/bundles/css?modules=o-techdocs@^5.0.0,o-gallery@^1.7.4,o-big-number@^1.1.2">
		{{else}}
		<link rel="stylesheet" href="//build.origami.ft.com/v2/bundles/css?modules=o-techdocs@^5.0.0,o-typography@^3.0.0,o-table@^3.0.0,o-big-number@^1.1.2,o-grid@^4.0.0,o-ft-icons@^3.0.1,o-buttons@^3.0.3,o-forms@^2.0.0,o-tabs">
		{{/if}}
		<link rel="stylesheet" href="{{#hashedAsset}}main.css{{/hashedAsset}}">
		<script>
			window.KEEN_PROJECT_ID = '{{KEEN_PROJECT_ID}}';
			window.KEEN_READ_KEY = '{{KEEN_READ_KEY}}';
			window.KEEN_HOST = '{{KEEN_HOST}}';
			window.charts = {{{json charts}}};
			{{#if isPresentation}}
			window.view = 'presentation';
			{{/if}}
		</script>
		<script src="https://next-geebee.ft.com/polyfill/v2/polyfill.min.js" defer></script>
		<script src="https://www.gstatic.com/charts/loader.js" defer></script>
		{{#if isPresentation}}
		<script src="//build.origami.ft.com/v2/bundles/js?modules=o-gallery@^1.7.4" async></script>
		{{else}}
		<script src="//build.origami.ft.com/v2/bundles/js?modules=o-tabs,o-typography@^3.0.0,o-table@^3.0.0,o-hierarchical-nav@^3.1.0&amp;minify=none" async></script>
		{{/if}}
		<script src="{{#hashedAsset}}main.js{{/hashedAsset}}" defer></script>
	</head>
	<body class="o-techdocs">
		{{{body}}}
	</body>
</html>
