<style>

	ul {
		padding: 0;
	}
	.kq-repl {
		padding-top: 90px;
	}

	.kq-repl .error {
		font-size: 24px;
		line-height: 1.2;
		color: red;
	}

	.kq-repl input[type="text"],
	.kq-repl textarea {
		padding: 0 10px;
		font-size:24px;
		min-height: 30px;
		line-height: 1.8;
		box-sizing: border-box;
		width: 100%;
	}

	.kq-repl__input {
		width: 100%;
	}

	.kq-repl__output + h2 {
		margin-top: 5px;
	}

	.kq-repl__reference {
		list-style: none;
	}

	.kq-repl__reference ul{
		display: inline;
	}

	.kq-repl__reference > [data-o-grid-colspan] {
		padding-bottom: 10px;
	}

	.kq-repl__reference > li.hidden {
		display: none;
	}
	.kq-repl__form {
		background: white;
		z-index: 1;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		padding: 90px 10px 10px;
		border-bottom: 1px solid #ccc;
	}

</style>
<div class="kq-repl o-grid-container">
<form class="kq-repl__form">
	<textarea class="kq-repl__input" placeholder="Enter a keen query" rows="1"></textarea>
	<div class="kq-repl__toolbar">
		<button type="submit" class="o-buttons o-buttons--standout kq-repl__submit">Click to run</button>  (or press 'Enter')
		<button class="o-buttons o-buttons--small kq-repl__clear-output">clear output</button>
	</div>
	<div class="kq-repl__output"></div>

</form>
<div class="o-grid-row">
	<div data-o-grid-colspan="6">
<h2>Common queries openings (click to choose)</h2>

		<ul class="kq-repl__reference kq-repl__reference--collections">
			<li class="o-buttons o-buttons--small" data-str="page:view->count(user.uuid)">count users</li>
			<li class="o-buttons o-buttons--small" data-str="page:view->count()">count page views</li>
		</ul>
		<p>Scroll down to set more query options</p>
	</div>


	<div data-o-grid-colspan="6">
<h2><i>or</i> Event collections (click one to start new custom query)</h2>
<ul class="o-grid-row kq-repl__reference kq-repl__reference--collections">
	{{#each collections}}
	<li data-o-grid-colspan="6">
		{{@key}}</h3>
		<ul>
			{{#each this}}
				<li class="o-buttons o-buttons--small" data-str="{{@../key}}:{{this}}">{{this}}</li>
			{{/each}}
		</ul>
	</li>
	{{/each}}
</ul>
<h2>Extractions (click to choose)</h2>

		<ul class="kq-repl__reference kq-repl__reference--extractions">
			<li class="o-buttons o-buttons--small" data-str="count()">count</li>
			<li class="o-buttons o-buttons--small" data-str="count({prop})">count unique</li>
			<li class="o-buttons o-buttons--small" data-str="min({prop})">min</li>
			<li class="o-buttons o-buttons--small" data-str="max({prop})">max</li>
			<li class="o-buttons o-buttons--small" data-str="sum({prop})">sum</li>
			<li class="o-buttons o-buttons--small" data-str="avg({prop})">avg</li>
			<li class="o-buttons o-buttons--small" data-str="med({prop})">med</li>
			<li class="o-buttons o-buttons--small" data-str="pct({prop})">pct</li>
			<li class="o-buttons o-buttons--small" data-str="select({prop})">select unique</li>
		</ul>
</div>
<div class="o-grid-row">
	<div data-o-grid-colspan="6">



		<h2>Filters (click to append)</h2>

		<ul class="kq-repl__reference kq-repl__reference--methods">
			<li class="o-buttons o-buttons--small" data-str="filter({prop})">has property</li>
			<li class="o-buttons o-buttons--small" data-str="filter(!{prop})"> doesn't have property</li>
			<li class="o-buttons o-buttons--small" data-str="filter({prop}={value})">property equals value</li>
			<li class="o-buttons o-buttons--small" data-str="filter({prop}!={value})">property doesn't equal</li>
			<li class="o-buttons o-buttons--small" data-str="filter({prop}>{value})">property greater than value</li>
			<li class="o-buttons o-buttons--small" data-str="filter({prop}<{value})">property less than value</li>
			<li class="o-buttons o-buttons--small" data-str="filter({prop}~{value})">property contains value</li>
			<li class="o-buttons o-buttons--small" data-str="filter({prop}?{value})">property contained in values</li>
		</ul>

		<h2>More (click to append)</h2>

		<ul class="kq-repl__reference kq-repl__reference--methods">
			<li class="o-buttons o-buttons--small" data-str="group({props})">group by property</li>
			<li class="o-buttons o-buttons--small" data-str="relTime(this_14_days)">last 14 days including today</li>
			<li class="o-buttons o-buttons--small" data-str="relTime(previous_14_days)">last 14 days exluding today</li>
			<li class="o-buttons o-buttons--small" data-str="absTime({start},{finish})">custom time</li>
			<li class="o-buttons o-buttons--small" data-str="interval()">interval</lasti>
			<li class="o-buttons o-buttons--small" data-str="round({number})">round</li>
			<li class="o-buttons o-buttons--small" data-str="reduce({method},{prop})">reduce</li>
		</ul>
	</div>
	<div data-o-grid-colspan="6">
		<h2>Property names (click to insert in last set of parentheses)</h2>
		<input type="text" class="kq-repl__properties-filter" placeholder="Type to filter">
		<ul class="kq-repl__reference kq-repl__reference--properties">
		{{#each properties}}<li class="o-buttons o-buttons--small" data-str="{{lowerCase}}">{{name}}</li>{{/each}}
		</ul>
	</div>
</div>

