<h1 title="{{aliases.[members].label}}">{{aliases.[members].question}}</h1>

<div data-o-grid-colspan="10">
	<div data-keen-query="{{aliases.[members/daily].query}}" data-keen-printer="{{aliases.[members/daily].printer}}" data-keen-interval="{{aliases.[members/daily].interval}}" data-keen-timeframe="{{aliases.[members/daily].timeframe}}"></div>
</div>
<div data-o-grid-colspan="2">
	<div data-keen-query="{{aliases.[members/today].query}}" data-keen-printer="{{aliases.[members/today].printer}}" data-keen-interval="{{aliases.[members/today].interval}}" data-keen-timeframe="{{aliases.[members/today].timeframe}}"></div>
	<hr/>
	<div data-keen-query="{{aliases.[members/yesterday].query}}" data-keen-printer="{{aliases.[members/yesterday].printer}}" data-keen-interval="{{aliases.[members/yesterday].interval}}" data-keen-timeframe="{{aliases.[members/yesterday].timeframe}}"></div>
</div>
