<div style="padding:20px">
	<div class="o-gallery" data-o-component="o-gallery" data-o-gallery-captions="false">
		<ol class="charts o-gallery__items">
			{{#each charts}}
				<li class="o-gallery__item">
					<div class="o-gallery__item__content">
						<h2 style="font-size: 30px; font-family: arial, helvetica, sans-serif; font-weight: 400;">{{{question}}}</h2>
						<div class="chart" data-chart-name="{{name}}">
							<div class="chart__printer"></div>
						</div>
					</div>
				</li>
			{{/each}}
		</ol>
	</div>
</div>
